h1{
    color:rgb();
    text-align: center;
    background: rgb(212, 221, 212);
    }
    
h2{
  text-align: center;
}    
h4{
  color: white;
}

body{
     background-color: rgb(37,67,54);
}

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid  rgb(37,67,54);
  }
  input[type=password] {
    
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid  rgb(37,67,54);
    
  }
  input[type=radio] {
      
    
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border:  3cm solid  rgb(37,67,54);
    
  }

  input[type=button], input[type=singn-up], input[type=reset] {
    background-color:rgb(183, 181, 151);
    border:rgb(34, 66, 34);
    color:rgb(37,67,54);
    padding: 16px 44px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid  rgb(37,67,54);
    

  }

  form {
    max-width: 600px;
    margin: 0 auto; 
    border: 15px solid rgb(212, 221, 212);
    background-color:rgb(183, 181, 151); 
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  body{

    color: rgb(27, 54, 40);
    font-size: large;
  }
  